{
  "trailingComma": "all",
  "quoteProps": "consistent",
  "singleQuote": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "tailwindFunctions": ["clsx", "tw"]
}
